body{
    background: lightgreen;
/*    background-image: url(../images/pexels-photo.jpg);*/
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
    margin: 20px
}

.jumbotron{
    background: lightblue;
}

.left-section{
    width: 300px;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: absolute;
    bottom: 0;
    top: 0;
/*    padding: 40px;*/
}

.image{
    width: 300px;
    height: 300px;
    left: 0;
}

.left-section img{
    width: 100%;
    height: 100%;
}

.left-section h1{
    color: white;
}

.navigation{
    padding: 20px;
}

.navigation ul{
    list-style-type: none;
    margin-left: -40px
}

.navigation li{
    margin:auto 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    transition: .2s;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

.navigation li:hover{
    background: black;
    transform: scale(1.2)
}

.right-section{
    background: {{myCol}};
    height: 600px;
    margin-left: 300px;
}